div.order--view
	h2 Order
	each val in order
		p.item--name=val.name
			span.item--price=val.price
	hr
	h2 Total
	p.order--total--sub= 'Subtotal '
		span= '$ '+subTotal
	p.order--total--tax= 'Tax: '
		span= '$ '+tax
	p.order--total--grand= 'Grand Total: '
		span= '$ '+grand